
body {
    margin-left: 5%;
    margin-right: 5%;
    background-color: rgb(255, 255, 0);
    font-family: 'Questrial', sans-serif;
    scroll-behavior: smooth;
}

.arrows img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    width: 50px;
    margin-top: 2%;
    opacity: .2;
}

#title-nav {
    height: 100vh;
    width: 100vw;
    margin-top: 15%;
}

nav {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    padding-left: 2%;
}

h4 {
    margin-right: 5%;
    font-size: 2em;
}

nav h4:hover,
#contact h4:hover {
    background-color: white;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

#about {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100vh;
    margin-bottom: 10%;
}

header {
    font-size: 80px;
}

.quote {
    font-family: 'Prata', serif;
    font-size: 1.7em;
    line-height: 2rem;
}

p {
    font-family: 'Prata', serif;
    font-weight: lighter;
    font-size: 1em;
    line-height: 1.5em;
}

.line {
    height: 10px;
    width: 650px;
    background-color: black;
}

.me {
    height: 30%;
    border: none;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
}


h1.name {
    flex-direction: column;
    align-content: flex-start;
    font-size: 11em;
    margin: 10 0 0 0;
    line-height: .8em;
}

.title h3 {
    padding: none;
    align-items: flex-end;
    justify-content: flex-end;
    display: flex;
    font-size: 4em;
    text-orientation: sideways;
    writing-mode: vertical-rl;
    line-height: .8em;
    margin: 10 0 0 0;

}

.title {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 2%;
}
.pic-sum p {
    width: 65%;
    padding: 2%;
}

.title .name {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;
}

#education, #skillset, #experience, #contact {
    height: 100vh;
    font-size: 1.5em;
}

.skills{
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-between;
}

.year {
    font-family: 'Questrial', 'sans-serif';
    font-size: 1.3em;
}

.logos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    bottom: 5;
    left: 5;
    border-style: solid;
    border-bottom-width: 10px;
    border-top-width: 10px;
    border-right-width: 0;
    border-left-width: 0;
    padding: 2%;
    margin-top: 5%;
}

.logos img {
    height: 15%;
}

a img {
    width: 400px;
    margin-bottom: 5px;
    object-fit: cover;
    border-radius: 8px;
}

.row a img:hover {
    opacity: .5;
    color: white;
}

.row {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.row p {
    margin-left: 20px;
    margin-right: 100px;
}

.snapshots {
    display: flex;
    flex-direction: column;
}

#free-cc {
    height: 8%;
}

.contact {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

#contact a img {
    width: 100px;
}

#contact .line {
    width: 1000px;
}

@media (max-width: 700px) {
    .logos{
        width: 33%; }/*side by side*/
    body {
        width: 33%;
    }
}